<% include partials/header %>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;" justify-content-between">
    <a class="navbar-brand">OMDb API</a>
    <form class="form-inline" action="/result" method="get">
        <input class="form-control mr-sm-2 "  name="search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<% include partials/footer %>